.BkgDlgBookingSettings {
    /*Empty class to make it easier to find the elements*/
}

body #BookingSettings {
    font-family: sans-serif;
}

#BookingSettings .tab,
#BookingSettings div.ui.top.attached.tabular.menu,
#BookingSettings .tabular.menu .item.active {
    border-color: #cc1b64;
}

#topBar p {
    color: #333333;
    display: inline;
    font-weight: bolder;
}

#topBar #AutoRefreshRecordGif {
    color: #db2828;
    width: fit-content;
}

#topBar #AutoRefreshRecordTimeRemaing {
    color: #2085D0ff;
}

#topBar {
    background: #FFD54EFF;
}

#vaccinesAvailableNumBlock img:hover {
    transform: translateY(8px);
    border-bottom-style: solid;
    border-bottom-color: #2085D0;
}

#viewStatsContent {
    border-radius: 20px;
    width: 100%;
    border: none;
}

.dataTables_length#centreList_length,
#centreList_filter>label {
    /*Search box label*/
    font-size: small;
}

#centreList_filter>label>span>input[type=search] {
    /*searchbox*/
    border-radius: 20px;
}

.dataTables_length#centreList_length .selection.ui.dropdown {
    min-width: 0;
}

#centreList_wrapper {
    margin-top: 25px;
}

#centreList_wrapper>div>div:nth-child(1) {
    padding-bottom: 0;
}

#centreList_wrapper>div>div.row.dt-table {
    padding-top: 0;
}

.ui.button.tableOptionsButtonOuter,
.ui.button.tableOptionsButtonInner {
    border: 1px solid transparent;
}

#btn_auto_book {
    color: #c71585;
}

#btn_auto_book.bookingButtonSwitched {
    color: #ffffff;
    background-color: #c71585;
}

#BookingDialogUsersRender {
    font-family: sans-serif;
}

#BookingDialogUsersRender p {
    font-size: small;
}

#BookingDialogUsersRender .BookingDialogUsersRenderSecret {
    background-color: #51c2d5;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

#BookingDialogUsersRender .BookingDialogUsersRenderAge {
    color: rgb(255, 99, 71);
}

#centreList_wrapper button {
    margin-top:0px !important;
}

/*START vaccine info table cell card*/
div.tableVaccineInfoRoot, .tableVaccineInfoRoot div {
    overflow:hidden;
    }
      .tableVaccineInfoRoot {
      --info-card-width:125px;
      --info-card-title-height:18px;
      --info-card-divider-width:1px;
      /*colors*/
      --info-card-body-h:171;
      --info-card-body-s:71%;
      --info-card-body-l:50%;
      --info-card-color-body:hsl(var(--info-card-body-h),var(--info-card-body-s),var(--info-card-body-l));
      
      display:inline-flex;
      flex-direction:column;
      background-color:var(--info-card-color-body);
      overflow:hidden;
      }
      
      .tableVaccineInfoRoot_covishield {}
      .tableVaccineInfoRoot_covaxin {
        --info-card-body-h:196;
        --info-card-body-s:89%;
        --info-card-body-l:50%;
      }
      .tableVaccineInfoRoot_sputnikv {
        --info-card-body-h:272;
        --info-card-body-s:66%;
        --info-card-body-l:50%;
      }
      
      .tableVaccineInfoRoot .vaccineInfoTitle{
      bottom:0;
      left:0;
      width:var(--info-card-width);
      height:var(--info-card-title-height);
      background-color:hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 26%));
      color:white;
      font-family: sans-serif;
      font-size: smaller;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .tableVaccineInfoRoot .vaccineInfoTitleShort{
      width:calc( ( var(--info-card-width) - var(--info-card-title-height) ) / 2 );
      font-size: x-small;
      }
      
      .tableVaccineInfoRoot .vaccineInfoAgeText{
      width:var(--info-card-title-height);
      height:calc((var(--info-card-width) - var(--info-card-title-height))/2);
      background-color:hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 26%));
      overflow:hidden;
      display:flex;
      align-items: center;
      justify-content: center;
      }
      
      .tableVaccineInfoRoot .vaccineInfoAgeText p{
      writing-mode:vertical-lr;
      transform:rotateZ(-180deg);
      color:white;
      font-size: smaller;
      }
        
        .tableVaccineInfoRoot .tableVaccineInfoParent/*One for each age group*/{
      height:calc((var(--info-card-width) - var(--info-card-title-height))/2);
      display:flex;
      flex-direction:row;
      }
      
      .tableVaccineInfoRoot .tableVaccineInfoParent .doseBox{
      height:100%;
      width:calc((var(--info-card-width) - var(--info-card-title-height))/2);
      display:flex;
      align-items: center;
      justify-content: center;
      color:white;
      font-size:x-large;
      font-weight: bolder;
      }
      
      .tableVaccineInfoRoot .vaccineInfoDivider{
      width:var(--info-card-divider-width);
      height:calc((var(--info-card-width) - var(--info-card-title-height))/2);
       background:radial-gradient(hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 2%)), hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 10%)));
      }
      
      .tableVaccineInfoRoot .vaccineInfoDividerH_parent{
      display:flex;
      flex-direction:row;
      width:100%;
      height:var(--info-card-divider-width);
      }
      
      .tableVaccineInfoRoot .vaccineInfoDividerH_parent .vaccineInfoDivider_gapfiller{
      width:var(--info-card-title-height);
      background-color:hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 26%));;
      }
      
      .tableVaccineInfoRoot .vaccineInfoDividerH_parent .vaccineInfoDividerH{
      height:var(--info-card-divider-width);
      width:calc( (var(--info-card-width) - var(--info-card-title-height)) / 2 );
       background:radial-gradient(hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 2%)), hsl(var(--info-card-body-h),var(--info-card-body-s),calc(var(--info-card-body-l) - 10%)));
       align-self:flex-end;
      }
/*END*/

/*START https://codepen.io/desirecode/pen/MJPJqV*/
#scrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scrollToTop span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scrollToTop:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

/*END*/